@import "../../styling/resources.scss";

.Start {
    display: flex;
    flex-direction: column;

    &__choice {
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary;
        transition: background-color $animation-duration;

        a {
            text-decoration: none;
        }

        &__title {
            margin: 0;
            font-weight: $font-weight--bold;
            font-size: $font-size--title;
        }

        &--secondary {
            background: $secondary;
        }

        .button {
            width: calc(100% - #{$base-space * 4});
        }
    }
}
