button {
    border: none;
}

.button {
    border: none;
    text-decoration: none;
    background: white;
    border-radius: 8px;
    font-size: $font-size--large;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;

    &[disabled] {
        opacity: 0.7;
    }

    &--primary {
        background: $primary;
        color: $background;
    }

    &--secondary {
        background: $secondary;
        color: $background;

        &--faded {
            background: $secondary--light;
            color: #844A5B;
        }
    }

    &--outline {
        background: white;
        border: 2px solid $primary;
    }

    &--outline--secondary {
        border: 2px solid $secondary;
        background-color: transparent;
        color: $secondary
    }


    &--big {
        padding: $base-space * 3;
    }

    &--medium {
        padding: $base-space * 2;
    }

    &--small {
        padding: $base-space * 1.5 $base-space * 2;
        font-size: $font-size;
        font-weight: $font-weight;
    }

    &--round {
        border-radius: 24px;
    }
    
    a & {
        text-decoration: none;
    }
}
