.input {
    &--text {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: $base-space * 3;

        input {
            border-radius: $base-space / 2;
            border: 1px solid $primary--dark;
            padding: $base-space $base-space*2;
        }

        textarea {
            border-radius: $base-space / 2;
            border: 1px solid $primary--dark;
            padding: $base-space;
            resize: none;
        }

        label {
            font-size: $font-size;
            color: $primary--dark;
            margin-bottom: $base-space;
            font-weight: bold;
        }
    }
}